@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Playfair+Display:wght@700&display=swap');

*{
    box-sizing:border-box;
}

body{
    margin:0;
    background:#fff1f5;
    color:#222;
    font-family:'Montserrat',sans-serif;
}

.portada{
    height:500px;
    background:linear-gradient(rgba(0,0,0,.45),rgba(0,0,0,.45)),url("../IMG/portada.jpg");
    background-size:cover;
    background-position:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color:white;
    text-align:center;
}

.portada h1{
    font-family:'Playfair Display',serif;
    font-size:120px;
    letter-spacing:20px;
    margin:0;
}

.portada p{
    color:#ffb6d5;
    font-size:28px;
}

nav{
    background:#111;
    padding:20px;
    text-align:center;
}

nav a{
    color:white;
    text-decoration:none;
    margin:20px;
    font-weight:bold;
}

nav a:hover{
    color:#ff4f9a;
}

.seccion{
    width:85%;
    margin:50px auto;
    background:white;
    padding:35px;
    border-radius:15px;
    box-shadow:0 5px 20px #ddd;
}

h2{
    text-align:center;
    color:#d81b60;
    font-family:'Playfair Display',serif;
    font-size:40px;
}

p{
    line-height:1.8;
    text-align:justify;
}

.personajes,.bandas{
    display:flex;
    gap:30px;
}

.tarjeta,.bandas article{
    width:50%;
    background:#fff8fb;
    padding:25px;
    border-left:6px solid #ff4f9a;
}

img{
    width:100%;
    height:350px;
    object-fit:cover;
}

h3{
    text-align:center;
    color:#b00045;
    font-size:25px;
}

table{
    width:100%;
    border-collapse:collapse;
}

th{
    background:#ff4f9a;
    color:white;
    padding:15px;
}

td{
    border:1px solid #ddd;
    padding:15px;
    text-align:center;
}

li{
    margin:15px;
}

footer{
    background:#111;
    color:white;
    padding:20px;
    text-align:center;
}